/* Imagen de fondo */
body {
  background-image: url("../asets/background.jpg");
}
/* Estilos de texto */
h1  {
       text-align: center;
       font-size: 16pt;
       color: #0007A8;
       margin-bottom: 5px;
	   border: 1px solid #0007A8;
       background-color: #FFFFFF; 
	   padding-top: 5px;
	   padding-bottom: 5px;
    }
h2  {
       text-align: center;
       font-size: 12pt;
       color: #0007A8;
    }
	p {
		background-color: lightblue;
	}
/* Definicion de estilo de tablas*/
    table {
       margin: 5px;
       width: 500px;
    }
    
    th {
       padding: 3px;
    }
    
    td {
       padding-left: 8px;
       padding-right: 8px;
       border: 1px solid #000099;
       background-color: #6060ff;
    }
    
    #trHeader {
       text-decoration: underline;
       color: #0009cc;
	   border: 1px solid #000099;
       background-color: #6060ff;
    }
    
    .centerCell {
       text-align: center;
    }

	* {
  box-sizing: border-box;
}
/* Estilos de texto adicionales */
body {
  font-family: Arial, Helvetica, sans-serif;
}
    .backimage
    {
      position: relative;
      top: 0;
      left: 0;
    }
    .frontimage
    {
      position: relative;
      top: -275px;
      left: 0;
    }
/* Definición de columnas y filas de la ventana */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Estilo de las secciones o "cartas" */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: lightblue;
}

/* Definición de columnas responsivas, que se adaptan al ancho de ventana */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Estilo de los Sliders, -webkit influye en chrome y navegadores basados en chromiun,
-moz influye en mozilla firefox y navegadores basados en su código fuente*/
.slidecontainer {
  width: 90%;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
/* Definición del tamaño del contenedor objeto 3D*/
 .model {
      width: 400px;
      height: 400px;
}

